<%= form_for(@word) do |f| %>
  <% if @word.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@word.errors.count, "error") %> prohibited this word from being saved:</h2>

      <ul>
      <% @word.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :raw %><br />
    <%= f.text_field :raw %>
  </div>
  <div class="field">
    <%= f.label :translate %><br />
    <%= f.text_field :translate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
